body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 80px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.button-container {
    display: flex;
    justify-content: space-between; /* space between buttons */
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.button-container input[type="submit"], 
.button-container .btn {
   padding: 12px;
    width: 100%;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


input[type="submit"]:hover, .btn:hover {
    background-color: #45a049;
}
